@model proyecto.Domain.Entities.Cliente

@{
    ViewData["Title"] = "Editar Cliente";
}
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Editar Usuario</strong></h3>
            </div>
            <div class="card-body">

                <form asp-action="ConfirmarEditar" asp-controller="Home" method="post" class="row mt-5 contenido" onsubmit="return validateForm()">
                    <div class="user d-flex justify-content-center">
                        <i class="fa-5x fa fa-user" aria-hidden="true"></i>
                    </div>
                    <h3 class="mt-2 fw-bold d-flex justify-content-center"> <strong>Agregar Usuario</strong></h3>

                    <!-- Alertas -->
                    <div id="apellidoAlert" class="alert alert-danger mt-2" style="display: none;" role="alert">
                        El apellido es requerido.
                    </div>
                    <div id="telefonoAlert" class="alert alert-danger mt-2" style="display: none;" role="alert">
                        El teléfono es requerido.
                    </div>
                    <div id="nameAlert" class="alert alert-danger mt-2" style="display: none;" role="alert">
                        Nombre inválido.
                    </div>
                    <div id="emailAlert" class="alert alert-danger mt-2" style="display: none;" role="alert">
                        El email no es válido.
                    </div>

                    <!-- Campos del formulario -->
                    <div class="form-control">
                        <input asp-for="Id" type="hidden" />

                        <!-- Nombre -->
                        <div class="mail mb-3">
                            <label asp-for="Nombre" class="form-label">Nombre</label>
                            <input asp-for="Nombre" id="NombreInput" class="form-control border" type="text" placeholder="Modifica el nombre" required>
                        </div>

                        <!-- Apellido -->
                        <div class="mb-3">
                            <label asp-for="Apellido" class="form-label">Apellido</label>
                            <input asp-for="Apellido" id="ApellidoInput" class="form-control border" type="text" placeholder="Modifica el apellido" required>
                        </div>

                        <!-- Email -->
                        <div class="mail mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" id="email" class="form-control border" type="email" placeholder="Modifica el email" required>
                        </div>

                        <!-- Teléfono -->
                        <div class="mb-3">
                            <label asp-for="Telefono" class="form-label">Teléfono</label>
                            <input asp-for="Telefono" id="TelefonoInput" class="form-control border" type="tel" placeholder="Modifica su teléfono" required>
                        </div>

                    </div>

                    <!-- Botón de submit -->
                    <div class="form mt-3 d-flex justify-content-center mb-5">
                        <button id="btnSubmit" class="button btn btn-primary" type="submit">Editar Usuario</button>
                    </div>
                </form>
                <div class="mx-2">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary  mx-auto">Volver</a>
                </div>
            </div>
        </div>


