@model proyecto.Domain.Entities.Cliente

@{
    ViewData["Title"] = "Register";
}

<style>
    /* Limita el ancho del div a 400px */
    .login {
        max-width: 500px;
        width: 100%;
    }

    .usuario {
        max-width: 200px;
        width: 100px;
    }

    .contenido {
        max-width: 360px;
        width: 100%;
    }

    .password-container {
        position: relative;
    }

        .password-container .eye-icon {
            position: absolute;
            right: 10px;
            top: 70%;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 1.25rem; /* Ajusta el tamaño del ícono */
            z-index: 10; /* Asegura que el ícono quede por encima del campo de texto */
            color: #6c757d; /* Cambia el color a gris (o el que prefieras) */
        }

    .eye-icon2 {
        position: absolute;
        right: 10px;
        top: 70%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 1.25rem; /* Ajusta el tamaño del ícono */
        z-index: 10; /* Asegura que el ícono quede por encima del campo de texto */
        color: #6c757d; /* Cambia el color a gris (o el que prefieras) */
    }

    .input-group {
        display: flex;
        align-items: center;
    }
</style>

<a asp-controller="Home" asp-action="Index" class="btn btn-secondary mx-auto">Volver</a>
<div class="form-control d-flex justify-content-center login container mt-5">
    @Html.AntiForgeryToken()
    <form asp-action="Register" asp-controller="Home" method="post" class="row mt-5 contenido" onsubmit="return validateForm()">
        <div class="user d-flex justify-content-center">
            <i class="fa-5x fa fa-user" aria-hidden="true"></i>
        </div>
        <h3 class="mt-2 fw-bold d-flex justify-content-center"> <strong>Agregar Usuario</strong></h3>

        <!-- Alertas -->
        <div id="apellidoAlert" class="alert alert-danger mt-2" style="display: none;" role="alert">
            El apellido es requerido.
        </div>
        <div id="telefonoAlert" class="alert alert-danger mt-2" style="display: none;" role="alert">
            El teléfono es requerido.
        </div>
        <div id="nameAlert" class="alert alert-danger mt-2" style="display: none;" role="alert">
            Nombre inválido.
        </div>
        <div id="emailAlert" class="alert alert-danger mt-2" style="display: none;" role="alert">
            El email no es válido.
        </div>

        <!-- Campos del formulario -->
        <div class="form-control">

            <!-- Nombre -->
            <div class="mail mb-3">
                <label asp-for="Nombre" class="form-label">Nombre</label>
                <input asp-for="Nombre" id="NombreInput" class="form-control border" type="text" placeholder="Ingrese su nombre" required>
            </div>

            <!-- Apellido -->
            <div class="mb-3">
                <label asp-for="Apellido" class="form-label">Apellido</label>
                <input asp-for="Apellido" id="ApellidoInput" class="form-control border" type="text" placeholder="Ingrese su apellido" required>
            </div>

            <!-- Email -->
            <div class="mail mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" id="email" class="form-control border" type="email" placeholder="Ingrese el email" required>
            </div>

            <!-- Teléfono -->
            <div class="mb-3">
                <label asp-for="Telefono" class="form-label">Teléfono</label>
                <input asp-for="Telefono" id="TelefonoInput" class="form-control border" type="tel" placeholder="Ingrese su teléfono" required>
            </div>

        </div>

        <!-- Botón de submit -->
        <div class="form mt-3 d-flex justify-content-center mb-5">
            <button id="btnSubmit" class="button btn btn-primary" type="submit">Agregar Usuario</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="~/js/register.js"></script>
